.banner-picture-bills{
    height: 100vh;
    width: 100%;
    background-image: url('../img/landing.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-cover{
    background:rgba(0, 0, 0, 0.36);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 8%;
    flex-wrap: wrap;
}

.banner-writeup{
 flex: 0 50%;
 text-align: left;
 padding-right: 5%;
}

.banner-illus-bills{
    height: 300px;
}


.bills-img{
    height: 50px !important;
}

.banner-heading{
  margin-bottom: 50px;
}


.banner-header{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner-sub{
    font-size: 14px;
}

.banner-form-bills{
    flex: 0 50%;
    padding-left: 30px;
}

.banner-form-div{
    width: 100%;
    height: 500px;
    background: white;
    padding:30px;
    border-radius: 20px;
    text-align: left;
}

.banner-form-div-header{
    color: #6E361B;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width: 991px) {
    .banner-cover{
        background:rgba(0, 0, 0, 0.36);
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0 8%;
        flex-wrap: wrap;
    }
    
    .banner-writeup{
     flex: 0 50%;
     text-align: left;
     padding-right: 2%;
    }

    .banner-illus-bills{
        height: 200px;
    }
    
    .banner-heading{
      margin-bottom: 50px;
    }
    
    .banner-header{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    .banner-sub{
        font-size: 14px;
    }
    
    .banner-form-bills{
        flex: 0 50%;
        padding-left: 20px;
    }
    
    .banner-form-div{
        width: 100%;
        height: 500px;
        background: white;
        padding:20px;
        border-radius: 20px;
        text-align: left;
    }
    .banner-form-div-header{
        color: #6E361B;
        font-weight: 700;
        font-size: 13px;
    }
}



@media screen and (max-width: 767px) {
    .banner-picture-bills{
        height: auto;
    }

    .banner-cover{
        background:rgba(0, 0, 0, 0.36);
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 30% 5%;
    }
    
    .banner-writeup{
     flex: 0 100%;
     text-align: center;
     padding-right: 2%;
    }

    .banner-illus-bills{
        height: 20px !important;
    }
    
    .banner-heading{
      margin-bottom: 50px;
    }
    
    .banner-header{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    .banner-sub{
        font-size: 14px;
    }
    
    .banner-form-bills{
        flex: 0 100%;
        padding-left: 0;
        padding-top:8%;
    }
    
    .banner-form-div{
        width: 100%;
        height: auto;
        background: white;
        padding:20px;
        border-radius: 20px;
        text-align: left;
    }
    .banner-form-div-header{
        color: #6E361B;
        font-weight: 700;
        font-size: 13px;
    }
}


@media screen and (max-width: 479px) {


}