.landing {
  background-image: url(../img/landing.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 8% 0 8%;
}
.meter-heading {
  flex: 0 50%;
}
.landing-heading {
  color: var(--white-color);
  text-align: left;
  font-size: 3.5em;
  line-height: 50px;
}
.landing-text {
  color: var(--white-color);
  text-align: left;
}

.meter-row {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-start !important;
}
.meter-col-1 {
  flex-basis: 70%;
  justify-content: flex-start;
  text-align: left !important;
}
.meter-col-2 {
  flex-basis: 30%;
  padding-left: 10px;
  justify-content: flex-start;
  text-align: left !important;
}

.landing-input {
  border-radius: 40px 0 0 40px;
  outline: none !important;
  font-size: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background: white;
  padding: 20px 30px;
  height: 75px;
  width: 100%;
  font-size: 17px;
  font-weight: 600;
}

.landing-input::placeholder {
  color: #b5b5b5;
  font-size: 17px;
  font-weight: 600;
}

.landing-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 0 40px 40px 0;
  font-size: 24px;
  font-weight: 600;
  height: 75px;
  line-height: 75px;
  text-align: center;
  width: 100%;
}
#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;

  left: 50%;
  width: 20px;
  height: 40px;

  border: 2px solid var(--text-color);
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;

  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--text-color);
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.demo a {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -120%);
  transform: translate(0, -120%);
  color: var(--text-color) !important;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.demo a:hover {
  opacity: 0.5;
}
.contactus {
  background-image: url(../img/contact.svg);
  background-size: cover;
  background-repeat: no-repeat;

  width: auto;
}
.pwd-container {
  position: relative;
  /* width: 295px; */
}

/* .pwd-container input {
  padding: 5px 30px 5px 10px;
  font-size: 20px;
} */

.pwd-container img {
  cursor: pointer;
  position: absolute;
  width: 20px;
  right: 10px;
  top: 35px;
}
.banner {
  background-image: url(../img/register.png);
  height: 30vh;
  background-size: cover;
  /* background-color: black;
  opacity: 0.5; */
}

.banner-img-cover {
  background: rgba(30, 30, 30, 0.646);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
  .banner-img-cover {
    background: rgba(30, 30, 30, 0.646);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
  }

  .landing {
    background-image: url(../img/landing.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 8% 0 8%;
  }

  .meter-heading {
    flex: 0 100%;
  }
  .landing-heading {
    color: var(--white-color);
    text-align: center;
    font-size: var(--biggest-font-size);
  }
  .landing-text {
    color: var(--white-color);
    text-align: center;
  }

  .meter-row {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-start !important;
  }
  .meter-col-1 {
    flex-basis: 70%;
    justify-content: flex-start;
    text-align: left !important;
  }
  .meter-col-2 {
    flex-basis: 30%;
    padding-left: 10px;
    justify-content: flex-start;
    text-align: left !important;
  }

  .landing-input {
    border-radius: 20px 0 0 20px;
    outline: none !important;
    font-size: 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background: white;
    padding: 15px 15px;
    height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
  }

  .landing-input::placeholder {
    color: #b5b5b5;
    font-size: 14px;
    font-weight: 600;
  }

  .landing-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0 40px 40px 0;

    font-weight: 600;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
}
