.bills-2-row {
  display: flex;
  justify-content: space-between;
}

.bills-2-col {
  color: black !important;
}

.bills-2-divider {
  height: 1.5px;
  background: rgb(245, 245, 245);
  margin: 10px 10px;
}

.summary-heading {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: rgb(37, 37, 37);
  font-weight: 600;
}

.form-paybills-2 {
  height: 40px !important;
  margin-right: 20px;
}
.rand-header-2 {
  color: #2a2a2a;
  font-size: 10px;
  font-weight: 500;
}
.rand-sub {
  color: #5b6e89;
  font-size: 8px;
}

.bills-2-info {
  margin-top: 10px;
  padding: 20px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(213, 213, 213);
  border-radius: 5px;
  margin-bottom: 10px;
}

.bills-2-info-block {
  margin-bottom: 5px;
}
.bills-2-info-label {
  color: #9b9b9b;
  font-size: 10px;
}
.bills-2-info-value {
  color: #6d2401;
  font-size: 12px;
  font-weight: 600;
}

.bills-2-form-block {
  display: flex;
  flex-wrap: wrap;
}
.input-block-col {
  flex: 0 100%;
  border: 0.5px solid #a80000;
  padding: 5px;
  margin-bottom: 10px;
}
.input-block-col-2 {
  flex: 0 50%;
  padding-right: 10px;
}

.input-block-2 {
  flex: 0 50%;
  border: 0.5px solid #a80000;
  padding: 5px;
}
.input-block-col-3 {
  flex: 0 50%;
  display: flex;
  flex-wrap: wrap;
}
.input-block-3 {
  flex: 0 50%;
  border-top: 0.5px solid #a80000;
  border-bottom: 0.5px solid #a80000;
  border-left: 0.5px solid #a80000;
  padding: 5px;
}

.input-block-4 {
  flex: 0 50%;
  border-top: 0.5px solid #a80000;
  border-bottom: 0.5px solid #a80000;
  border-right: 0.5px solid #a80000;

  padding: 5px;
  background: rgb(243, 243, 243);
}

.bills-2-input {
  outline: none !important;
  font-size: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background: transparent;
}

.bills-2-input:focus {
  outline: none;
}

.bills-2-input::placeholder {
  color: #5b6e89;
  font-size: 10px;
  font-weight: 600;
}

.bills-2-input-2 {
  outline: none !important;
  font-size: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-left-style: hidden;
  background: transparent;
}

.bills-2-input-2:focus {
  outline: none;
}

.bills-2-input-2::placeholder {
  color: #5b6e89;
  font-size: 10px;
  font-weight: 600;
}

.confirm-details-row {
  display: flex;
  color: black !important;
}

.confirm-details-col {
  flex: 0 33.3%;
}

.border-right-style {
  border-right: 1px solid rgb(221, 221, 221);
}
.padding-style {
  padding-left: 20px;
}

.confirm-button-2-row {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.confirm-button-2-col {
  flex: 0 25%;
  padding-right: 10px;
}
.confirm-button-2 {
  display: flex;
  justify-content: space-around;
  border: 1.5px solid #dd7949;
  border-radius: 10px;
  color: #dd7949;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.confirm-button-2-image {
  height: 10px !important;
}

.banner-picture-paybills-2 {
  height: 100vh;
  width: 100%;
  background-image: url("../img/landing.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-cover {
  background: rgba(0, 0, 0, 0.36);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 8%;
  flex-wrap: wrap;
}

.banner-writeup {
  flex: 0 50%;
  text-align: left;
  padding-right: 5%;
}

.banner-illus {
  height: 300px;
}

.banner-heading {
  margin-bottom: 50px;
}

.banner-header {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.banner-sub {
  font-size: 14px;
}

.banner-form {
  flex: 0 50%;
  padding-left: 30px;
}

.banner-form-div {
  width: 100%;
  height: 500px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: left;
}
.banner-form-div-register {
    width: 100%;
    height: 650px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: left;
  }
.banner-form-div-header {
  color: #6e361b;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width: 991px) {
  .banner-cover {
    background: rgba(0, 0, 0, 0.36);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 8%;
    flex-wrap: wrap;
  }

  .banner-writeup {
    flex: 0 50%;
    text-align: left;
    padding-right: 2%;
  }

  .banner-illus {
    height: 200px;
  }

  .banner-heading {
    margin-bottom: 50px;
  }

  .banner-header {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .banner-sub {
    font-size: 14px;
  }

  .banner-form {
    flex: 0 50%;
    padding-left: 20px;
  }

  .banner-form-div {
    width: 100%;
    height: 500px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
  }
  .banner-form-div-header {
    color: #6e361b;
    font-weight: 700;
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .confirm-button-2-col {
    flex: 0 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .banner-picture-paybills-2 {
    height: auto;
  }
  .banner-cover {
    background: rgba(0, 0, 0, 0.36);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30% 5%;
  }

  .banner-writeup {
    flex: 0 100%;
    text-align: center;
    padding-right: 2%;
  }

  .banner-illus {
    height: 20px !important;
  }

  .banner-heading {
    margin-bottom: 50px;
  }

  .banner-header {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .banner-sub {
    font-size: 14px;
  }

  .banner-form {
    flex: 0 100%;
    padding-left: 0;
    padding-top: 8%;
  }

  .banner-form-div {
    width: 100%;
    height: auto;
    background: white;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
  }
  .banner-form-div-header {
    color: #6e361b;
    font-weight: 700;
    font-size: 13px;
  }
}

@media screen and (max-width: 479px) {
}
