.why {
  background-color: #f9f9f9;
}
.des {
  border: 1px solid;
  border-radius: 80px;
  height: auto;
  display: flex;
  align-items: center;
}
.circular {
  background-image: url(../img/ellipse.svg);
  background-size: contain;
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  position: relative;
  margin: 20px;
}
.svg1 {
  background-image: url(../img/bulb.svg);
  background-size: contain;
  /* height: 50%; */
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  position: absolute;
  left: 65%;
  margin-left: -50px;
  top: 65%;
  margin-top: -50px;
}
.svg2 {
  background-image: url(../img/bolt.svg);
  background-size: contain;
  /* height: 50%; */
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  position: absolute;
  left: 65%;
  margin-left: -50px;
  top: 65%;
  margin-top: -50px;
}
.svg3 {
  background-image: url(../img/commission.svg);
  background-size: contain;
  /* height: 50%; */
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  position: absolute;
  left: 65%;
  margin-left: -50px;
  top: 65%;
  margin-top: -50px;
}
.svg4 {
  background-image: url(../img/giftbox.svg);
  background-size: contain;
  /* height: 50%; */
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  position: absolute;
  left: 65%;
  margin-left: -50px;
  top: 65%;
  margin-top: -50px;
}
.text-head {
  color: #2e2d2d;
  cursor: pointer;
}
.figure {
  display: inline-block;
}
.figure-text {
  display: inline-block;
}
.svg1:hover,
.svg2:hover,
.svg3:hover,
.svg4:hover,
.circular:hover,
.text-head:hover {
  color: var(--primary-color);
  filter: invert(48%) sepia(74%) saturate(548%) hue-rotate(334deg)
    brightness(91%) contrast(88%);
}

.svg1:hover,
.svg1:hover,
.svg2:hover,
.svg3:hover,
.svg4:hover {
  animation: bellshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  backface-visibility: hidden;
  transform-origin: top right;
}

@keyframes bellshake {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  45% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  85% {
    transform: rotate(-10deg);
  }
  92% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}


.home-note-section{
  background:#F9F9F9;
  padding: 20px 50px 100px; 
}

.home-note-paragraph-text {
  letter-spacing: 0px;
  color: #6E361B;
  text-transform: capitalize;
  opacity: 1;
  text-align: left !important;
  margin-bottom: 50px !important;
}

@media only screen and (max-width: 1024px) {
  .home-note-paragraph-text {
    margin-bottom: 20px !important;
  }
}

.home-note-row-left{
  display: flex;
  flex-wrap: wrap;
  
  justify-content: flex-start; 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  -webkit-box-pack: start; 
  -webkit-justify-content: flex-start; 
  -ms-flex-pack: start; 
  justify-content: flex-start; 
  -webkit-flex-wrap: wrap; 
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap; 
}

.home-note-row-right{
  display: flex;
  flex-wrap: wrap;
  
  justify-content: flex-start; 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  -webkit-flex-wrap: wrap; 
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap; 
  -webkit-box-pack: end; 
-webkit-justify-content: flex-end; 
-ms-flex-pack: end; 
justify-content: flex-end;
}

.home-note-col{
  -webkit-box-pack: end; 
  -webkit-justify-content: flex-end; 
  -ms-flex-pack: end; 
  justify-content: flex-end;
  -webkit-box-flex: 0; 
  -webkit-flex: 0 50%; 
  -ms-flex: 0 50%; 
  flex: 0 50%; 
}

.home-note-div{
  background: white;
  height: auto;
  border-radius: 100px;
  color:black;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  color:black;
  transition: all .5ms;
}


.home-note-div:hover{
  color:#DB6C36
}


.note-img-1{background-image: url("../img/bulb-n.svg"); background-position: center;background-size: contain;background-repeat: no-repeat;height: 100px; width: 100px;transition: all .10ms;}
.home-note-div:hover .note-img-1{background-image: url("../img/bulb-a.svg");}

.note-img-2{background-image: url("../img/fast-n.svg"); background-position: center;background-size: contain;background-repeat: no-repeat;height: 100px; width: 100px;transition: all .10ms;}
.home-note-div:hover .note-img-2{background-image: url("../img/fast-a.svg");}

.note-img-3{background-image: url("../img/give-n.svg"); background-position: center;background-size: contain;background-repeat: no-repeat;height: 100px; width: 100px;transition: all .10ms;}
.home-note-div:hover .note-img-3{background-image: url("../img/give-a.svg");}

.note-img-4{background-image: url("../img/gift-n.svg"); background-position: center;background-size: contain;background-repeat: no-repeat;height: 100px; width: 100px;transition: all .10ms;}
.home-note-div:hover .note-img-4{background-image: url("../img/gift-a.svg");}


.note-text{
  text-align: left;
  padding-left: 20px;
}

.note-text-header{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.note-text-sub{
  font-size:12px;
  color: rgb(160, 160, 160);
}

@media screen and (max-width: 767px) {

  .home-note-section{
    background:#F9F9F9;
    padding: 30px 20px;
  }
  
  .home-note-row-left{
    display: flex;
    flex-wrap: wrap;
      margin-bottom: 15px;
    justify-content: flex-start; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    -webkit-box-pack: start; 
    -webkit-justify-content: flex-start; 
    -ms-flex-pack: start; 
    justify-content: flex-start; 
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
  }
  
  .home-note-row-right{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px; margin-bottom: 15px;
    justify-content: flex-start; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    -webkit-box-pack: start; 
    -webkit-justify-content: flex-start; 
    -ms-flex-pack: start; 
    justify-content: flex-start; 
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
  }
  
  .home-note-col{
    -webkit-box-pack: end; 
    -webkit-justify-content: flex-end; 
    -ms-flex-pack: end; 
    justify-content: flex-end;
    -webkit-box-flex: 0; 
    -webkit-flex: 0 100%; 
    -ms-flex: 0 100%; 
    flex: 0 100%; 
  }
  
  .home-note-div{
    background: white;
    height: auto;
    border-radius: 50px;
    color:black;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    color:black;
    transition: all .5ms;
  }
  
  
  .home-note-div:hover{
    color:#DB6C36
  }
  

  .note-img-1{background-image: url("../img/bulb-n.svg"); background-position: center;background-size: contain;background-repeat: no-repeat;height: 70px; width: 70px;transition: all .10ms;}
  .home-note-div:hover .note-img-1{background-image: url("../img/bulb-a.svg");}
  
  .note-img-2{background-image: url("../img/fast-n.svg"); background-position: center;background-size: contain;background-repeat: no-repeat;height: 70px; width: 70px;transition: all .10ms;}
  .home-note-div:hover .note-img-2{background-image: url("../img/fast-a.svg");}
  
  .note-img-3{background-image: url("../img/give-n.svg"); background-position: center;background-size: contain;background-repeat: no-repeat;height: 70px; width: 70px;transition: all .10ms;}
  .home-note-div:hover .note-img-3{background-image: url("../img/give-a.svg");}
  
  .note-img-4{background-image: url("../img/gift-n.svg"); background-position: center;background-size: contain;background-repeat: no-repeat;height: 70px; width: 70px;transition: all .10ms;}
  .home-note-div:hover .note-img-4{background-image: url("../img/gift-a.svg");}
  

  .note-text{
    text-align: left;
    padding-left: 20px;
  }
  
  .note-text-header{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .note-text-sub{
    font-size:12px;
    color: rgb(160, 160, 160);
  }






  .figure {
    display: block;
  }
  .figure-text {
    display: block;
  }
  .svg1,
  .svg2,
  .svg3,
  .svg4 {
    height: 10px;
    width:10px;
    position: absolute;
    left: 124%;
    top: 104%;
  }
  .circular {
    height: 40px;
    width: 40px;
  }
}
/* background-image: url(/static/media/bulb.4ec30d94.svg);
    background-size: contain;
    height: 49%;
    background-repeat: no-repeat;
    height: 60px;
    width: 25px;
    position: absolute;
    left: 114%;
    margin-left: -50px;
    top: 104%;
    margin-top: -50px;
} */

/* .circular {
    background-image: url(/static/media/ellipse.afaaa8c3.svg);
    background-size: contain;
    height: 65px;
    width: 65px;
    background-repeat: no-repeat;
    position: relative;
    margin: 20px;
} */
