/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
p,
ul {
  margin: 0 !important;
  color: var(--text-color);
  font-family: var(--body-font) !important;
}
ul {
  padding: 0 !important;
  list-style: none !important;
}
a {
  text-decoration: none !important;
  font-family: var(--body-font) !important;
}
img {
  max-width: 100% !important;
  height: auto !important;
}

label {
  display: block !important;
  margin-bottom: 0.1rem;
  text-align: left;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.white-bkg {
  background-color: #fff;
}
.btn-join {
  color: var(--primary-color) !important;
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 10px 10px;
  font-size: var(--small-font-size);
}
.white-text {
  color: var(--white-color) !important;
}
.black-text {
  color: #656262 !important;
}
.formlabel {
  font-size: var(--smaller-font-size);
}
.bold-text {
  font-weight: 600;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.small-text {
  font-size: var(--smaller-font-size);
}
.primary-text {
  color: var(--primary-color);
}
.primary-color {
  background-color: var(--primary-color);
}
.secondary-color {
  background-color: var(--secondary-color);
}
.secondary-text {
  background-color: var(--secondary-color);
}
button {
  border: none;
}
textarea:focus,
input:focus {
  outline: none !important;
}
*:focus {
  outline: none;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
section {
  /* height: calc(100vh - var(--header-height)); */
  align-content: center;
  position: relative;

  background-size: contain;

  padding: 1rem 0 2rem;
}

body {
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size);
  background-color: var(--body-color) !important;
  color: var(--text-color);
  line-height: 1.6;

  background-repeat: repeat;
  background-size: cover;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 20px;
}
body.dark-theme {
  --title-color: #f1f3f2 !important;
  --text-color: #fff !important;
  --body-color: #1d2521 !important;
  --container-color: #27302c !important;
}
:root {
  --header-height: 5rem;
  /*========== Colors ==========*/
  --primary-color: #db6c36;
  --secondary-color: #6e361b;
  --text-color: #fff;
  --white-color: #ffff;
  --body-color: #ffff;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.55rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 6rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.69rem;
  }
}
